* {
    box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 40%), rgba(0, 0, 0, 15%)), url(hygro.webp) no-repeat center/cover;
  background-size: cover;
  font-family: Arial;
  overflow: visible;
  text-align: center;
  }


.contenu {
  min-width: 335px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 60px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  height: max-content;
  color: white;
}

h1 {
  font-size: 80px;
  margin-top: -10px;
  margin-bottom: 30px;
  color: rgb(255, 199, 109);
}

p.dev {
  color: white;
  font-size: 20px;
}


/* RESPONSIVE DESIGN FOR PHONE */
@media only screen and (max-width: 480px)
{
    h1 {
      font-size: 50px;
      margin-top: 0px;
    }

    p.dev {
      font-size: 14px;
    }

    div.tableau {
      font-size: 40px;
    }
}