.contenu {
  min-width: 335px;
  margin-top: 100px;
  margin-bottom: 100px;
}

div.tableau {
  font-size: 38px;
  position: relative;
  text-align: center;
  width: 96%;
  color: white;
  margin: 0px 20px 30px 20px;
  display: inline-block;
  font-weight: bold;
  overflow: visible;
  padding: 0px 2px 0px 2px;
  height: max-content;
}

h1 {
  font-size: 80px;
  margin-top: 0px;
}
.centre {
  color: rgb(202, 255, 0);
  text-align: center;
  width: 100%;
}

.data {
  text-align: right;
  color: white
}

.cube {
  text-align: left;
}

.titre {
  text-align: center;
  color: white
}

p.box {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.dev {
  color: white;
  font-size: 14px;
  margin-bottom: 0px;
}

button {
  background-color: rgb(212, 191, 156);
  color: rgb(83, 185, 161);
  font-size: 20px;
  box-shadow: 0px 0px 40px 2px #76e4ffc0;
  border-width: 0px;
  font-weight: bold;
}

a.dev:hover {
  color: white;
  border: 3px solid white;
}